.hide {
    display: none;
}

.ql-tooltip.ql-editing.ql-flip {
    z-index: 9999;
}

.ql-personalized-color {
    /* le background color doit être défini dans le js */
    border-radius: 5px;
    margin: 0 5px;
    max-width: 10px;
}

.ql-toolbar,
.ql-container {
    border-radius: 10px;
    background-color: #ffffff;
    border: none !important;
}

.ql-editor {
    font-size: 16px;
    border: none;
}

.toolbar {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}